<div class="row" th:fragment="create_form" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <form action="#" th:action="@{/import/create}" method="post" enctype="multipart/form-data">

                <div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/import_fragments/project.html :: project"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/import_fragments/import_file.html :: import_file"></div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>


            <form th:action="@{/import/download_file_form}" method="get" enctype="multipart/form-data">
                <button type="submit" class="btn btn-success" value="Submit">File Format</button>
            </form>
        </div>
    </div>
</div>
