<div class="row" th:fragment="update_form" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <form action="#" th:action="@{/users/update/{id}(id=${user.id})}"
                  th:object="${user}" method="post">
                <div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/user_fragments/user_name.html :: user_name"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/user_fragments/email.html :: email"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/user_fragments/password.html :: password"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/user_fragments/status.html :: status"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div th:insert="fragments/user_fragments/role.html :: role"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-2">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>