        <div th:fragment="number">

            <div class="form-group">
                <div class="col-md-2 col-sm-12 col-xs-12 form-group has-feedback">
                    <label>Number:</label>

                    <select class="form-control" th:field="*{number}">

                        <option th:value="106">106</option>
                        <option th:value="207">207</option>
                        <option th:value="308">308</option>

                    </select>

                </div>
            </div>

        </div>